<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="isAuth()">
  <a class="navbar-brand" routerLink="accueil">EniSortir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarSortir" aria-controls="navBarSortir" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBarSortir">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="accueil">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="monprofil">Mon Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Se Déconnecter</a>
      </li>
    </ul>
  </div>
</nav>

<toaster-container></toaster-container>